<div class="error-cards-container">
  @if (errores().length > 0) {
    <h1 class="error-list-title">Registro de Errores</h1>
  }

  @for (error of errores(); track error.sensorId) {
    <div
      class="error-container"
      [ngClass]="{
        'error-severity-alta': error.severidad === 'alta',
        'error-severity-media': error.severidad === 'media',
        'error-severity-baja': error.severidad === 'baja'
      }"
    >
      <div class="error-header">
        <span class="error-icon">
          <!-- Ícono de severidad -->
          🚨
        </span>
        <h3 class="error-code">{{ error.codigoError }}</h3>
        <p class="error-severity">{{ error.severidad | titlecase }}</p>
      </div>

      <div class="error-body">
        <div class="error-body-row">
          <span class="icon">📟</span>
          <span class="label">Sensor</span>
          <span class="value">{{ error.sensorId }}</span>
        </div>
        <div class="error-body-row">
          <span class="icon">📝</span>
          <span class="label">Mensaje</span>
          <span class="value">{{ error.mensaje }}</span>
        </div>
        <div class="error-body-row">
          <span class="icon">⏰</span>
          <span class="label">Fecha</span>
          <span class="value">
            {{ error.timestamp | date: 'dd/MM/yyyy, HH:mm:ss' }}
          </span>
        </div>
      </div>

      <div class="error-footer">
        <button (click)="marcarComoRevisado(error)">Marcar como revisado</button>
      </div>
    </div>
  }
</div>
